<?xml version="1.0"?>
<config>
	<modules>
		<Test_Task>
			<version>1.0.0.1</version>
		</Test_Task>
	</modules>
	<global>
		<helpers>
			<test_task>
				<class>Test_Task_Helper</class>
			</test_task>
		</helpers>
		<models>
			<test_task>
				<class>Test_Task_Model</class>
				<resourceModel>test_task_resource</resourceModel>
			</test_task>
			<test_task_resource>
				<class>Test_Task_Model_Resource</class>
				<entities>
					<test_multiple_order_log>
						<table>test_multiple_order_log</table>
					</test_multiple_order_log>
				</entities>
			</test_task_resource>
		</models>
		<resources>
			<test_task_setup>
				<setup>
					<module>Test_Task</module>
					<class>Mage_Eav_Model_Entity_Setup</class>
				</setup>
			</test_task_setup>
		</resources>
        <events>
			<sales_order_payment_pay>
				<observers>
					<test_task_log_order>
						<type>singleton</type>
						<class>test_task/observer</class>
						<method>logOrder</method>
					</test_task_log_order>
				</observers>
			</sales_order_payment_pay>
		</events>
	</global>
	<default>
		<test_task>
			<setting>
				<decimal_factor>2.0</decimal_factor>
				<enable>1</enable>
			</setting>
		</test_task>
	</default>
</config>
